body {
    margin: 17vh 0 0 0;
    min-height: calc(100vh - 17vh);
    text-align: center;
    background-color: #FBFBFB;
    color: #44403e;
    font-family: dnp-shuei-mgothic-std, sans-serif;
    background-color: #E8E4E2;
    overflow-x: hidden;
}


header {
    height: 17vh;
    width: 100%;
    top: 0;
    background-color: #E8E4E2;
    position: fixed;
    z-index: 1;
}

footer {
    height: 4rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: radial-gradient(circle at center 110%, #fbfbfb 4em, rgba(68, 64, 62, 0.294) 1px,#E8E4E2 4em);
    background-size: 5em;
    background-repeat: repeat-x;
}

a {
    position: absolute;
    top: 50%;
}

br{
    line-height: initial;
}

img {
    width: 100%;
}


span {
    color: #EC7357;
}

h1{
    font-size: 1.5em;
    margin-top: 7vh;
}

h3 {
    margin-top: 0;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    padding: 0;
}

button:hover {
    transform: translateY(-5px);
}


.home {
    position: absolute;
    top: 3vh;
    left: 3vw;
    color: #44403e;
    text-decoration: none;
}

.home::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: #44403e;
    transition: .3s;
    transform: translateX(-50%);
}

.home:hover::after {
    width: 100%;
}

.first {
    font-size: 1.5em;
}


.detail {
    line-height: 2rem;
    grid-row: 1 / 2;
    grid-column: 2 / 2;
}


.block1{
    display: grid;
    grid-template-rows: 6rem auto;
    grid-template-columns: 34% 32% 34%;
    justify-items: center;
}


.skills {
    width: 35vw;
    height: 70vh;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    grid-row: 1 / 3;
}

.skil {
    width: 10vh;
    height: 10vh;
    margin: 2vh;
    align-self: center;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15));
    -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15));
    -moz-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15));
}

.html {
    width: 17vh;
    height: 17vh;
}

.css {
    width: 15vh;
    height: 15vh;
}

.js {
    width: 15vh;
    height: 15vh;
}

.python {
    width: 17vh;
    height: 17vh;
}

.c {
    width: 13vh;
    height: 13vh;
}

.illu {
    width: 13vh;
    height: 13vh;
}

.xd {
    width: 15vh;
    height: 15vh;
}

.popup {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 3;
}

.popup .exp {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 25vh;
    left: calc(50vw - 18em);
    width: 36em;
    height: 20em;
    background-color: #FBFBFB;
    border-radius: 1em;
    z-index: 2;
}

.popup .exp button {
    background-color: #44403e;
    color: #FBFBFB;
    margin-top: 2em;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    font-family: dnp-shuei-mgothic-std, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.popup .mask {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #44403ea4;
    z-index: 2;
}


.selfimg {
    height: 50vh;
    margin: 2vh 0;
    grid-row: 2 / 3;
}

.selfimg img {
    height: 100%;
    object-fit: contain;
}

.about {
    width: 35vw;
    display: flex;
    align-items: center;
    grid-row: 1 / 3;
}


.sentence {
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    width: calc(30vw - 2em);
    margin: 2vh auto;
    padding: 0.5em;
    border-radius: 1em;
}

.border {
    border: solid 3px #E8E4E2;
    border-radius: 1em;
    padding: 0.5em 0.5em 2em 0.5em;
}

.sentence .title {
    margin: 0.5em 0 0 1em;
    text-align: start;
    font-size: 1.1em;
}

.sentence p{
    line-height: 1.5rem;
}

.content{
    font-size: 1em;
    margin: 0;
}

#git {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 4px;
    color: #FBFBFB;
    background-color: #575aec;
    text-decoration: none;
}

#git::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: #FBFBFB;
    transition: .3s;
    transform: translateX(-50%);
}

#git:hover::after {
    width: 100%;
}

.inline_footer{
    width: 20rem;
    position: absolute;
    bottom: 0.5rem;
    left: calc(50% - 10rem);
}


.sm_only,
.min {
    display: none;
}


@media screen and (max-width: 980px) {

    /* 幅960px以上に適用されるCSS（PC半画面以上用） */
    header {
        height: 16vh;
    }

    footer{
        display: none;
    }

    h1 {
        margin-top: 3em;
        font-size: 1.3rem;
    }

    body {
        margin-bottom: 12vh;
        margin-top: 16vh;
    }

    .block1,
    .block2 {
        font-size: 0.8em;
    }

    .block1 {
        grid-template-columns: 100%;
    }

    .detail{
        line-height: 1.5rem;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .selfimg {
        width: 60vw;
        height: auto;
        margin-top: 5vh;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .skills {
        height: auto;
        width: 100%;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

    .skil {
        margin: 1vh;
        align-self: center;
    }

    .popup {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        display: none;
        z-index: 3;
    }
    
    .popup .exp {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 0.8em;
        top: 25vh;
        left: calc(50vw - 42vw - 1em);
        padding: 1em;
        width: 84vw;
        height: 20em;
        background-color: #FBFBFB;
        border-radius: 1em;
        z-index: 2;
    }
    
    .popup .exp button {
        background-color: #44403e;
        color: #FBFBFB;
        margin-top: 2em;
        padding: 0.5em 0.5em;
        border-radius: 0.5em;
    }
    
    .popup .mask {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #44403ea4;
        z-index: 2;
    }


    .about {
        width: calc(100% - 2em);
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .sentence {
        background-color: #FBFBFB;
        width: calc(100% - 2em);
        margin: 0 auto;
        height: auto;
        padding: 1em;
    }

    .min {
        display: inline;
    }

    .title1 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .title2 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    .sm_only {
        display: inline-block;
        width: 100%;
        font-size: 1.5em;
        margin: 2em 0 1em 0;

    }

    .sm_only p {
        width: 5em;
        margin: 0 auto;
        background: linear-gradient(transparent 60%, #FBFBFB 10%);
    }
}