body {
    margin: 0;
    text-align: center;
    background-color: #E8E4E2;
    color: #44403e;
    font-family: dnp-shuei-mgothic-std, sans-serif;
}

header {
    height: 100vh;
    position: relative;
}


footer {
    height: 4rem;
    width: 100%;
    position: relative;
    background-image: radial-gradient(circle at center 110%, #fbfbfb 4em, rgba(68, 64, 62, 0.294) 1px,#E8E4E2 4em);
    background-size: 5em;
    background-repeat: repeat-x;
}



button {
    appearance: none;
    cursor: pointer;
    outline: none;
    font-family: dnp-shuei-mgothic-std, sans-serif;
    color: #44403e;
    box-sizing: border-box;
    padding: 0;
}

img {
    object-fit: cover;
    box-sizing: border-box;
    border-radius: calc(1em - 2px);
    width: 100%;
    height: 100%;
}



.header {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    grid-template-rows: 17vh;
    grid-template-columns: 25vw;
    justify-content: center;
    align-content: center;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: #E8E4E2;
    z-index: 1;
}


.inline_header {
    position: relative;
    display: table-cell;
    padding-bottom: 3rem;
    align-self: center;
    vertical-align: middle;
    font-size: 1.2em;
    color: #44403e;
}


.inline_header span {
    display: inline-block;
}

.inline_header button {
    border: none;
    font-size: 2em;
    background-color: transparent;
    color: #44403e;
   
}


.scroll {
    position: absolute;
    width: 100px;
    bottom: 3em;
    left: calc(50% - 50px);
    z-index: 1;
    display: none;
}


.scroll span {
    border: solid 2px #44403e;
    border-radius: 1em;
    box-sizing: border-box;
    width: 2em;
    height: 3em;
    position: absolute;
    bottom: 2em;
    left: calc(50% - 1em);
    z-index: 1;
}

.scroll span::after {
    content: "";
    position: absolute;
    background-color: #44403e;
    border-radius: 100%;
    top: 8px;
    left: calc(1em - 0.3em - 2px);
    width: 0.6em;
    height: 0.6em;
    z-index: 1;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition: all .5s;
}

@keyframes scroll {
    0% {
        top: 8px;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 1.6em;
        opacity: 0;
    }
}

.menue {
    position: fixed;
    top: calc(7.5vh - 12px);
    right: 2.5em;
    z-index: 4;
}


.btn-trigger {
    position: relative;
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #44403e;
    border-radius: 4px;
}

.btn-trigger,
.btn-trigger span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
}

.btn-trigger span:nth-of-type(1) {
    top: 0;
}

.btn-trigger span:nth-of-type(2) {
    top: 19px;
}

.btn-trigger span:nth-of-type(3) {
    bottom: 0;
}

#btn01.active span:nth-of-type(1) {
    -webkit-transform: translateY(19px) rotate(-45deg);
    transform: translateY(19px) rotate(-45deg);
    background-color: #FBFBFB;
}

#btn01.active span:nth-of-type(2) {
    opacity: 0;
}

#btn01.active span:nth-of-type(3) {
    -webkit-transform: translateY(-19px) rotate(45deg);
    transform: translateY(-19px) rotate(45deg);
    background-color: #FBFBFB;
}


.navigation {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main_menue {
    display: block;
    text-align: start;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 30em;
    background: #FBFBFB;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 3;
    opacity: 0;
}

.inline_main_menue {
    margin: 3em 2em;
}

.inline_main_menue ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inline_main_menue li {
    list-style: none;
    margin: 0;
    padding-left: 1em;
}

.url {
    position: relative;
    padding: 0.3em;
    color: #44403e;
    text-decoration: none;
}

.url::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 1.5px;
    background-color: #44403e;
    transition: .3s;
    transform: translateX(-50%);
}

.url:hover::after {
    width: 100%;
}

.open .main_menue {
    left: 0;
    opacity: 1;
}

.mask {
    display: none;
    transition: all .5s;
}

.open .mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #44403ea4;
    z-index: 2;
    cursor: pointer;
}


/* .inline_header .active::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #44403e;
    transform: translateX(-50%);
    animation-name: fadeIn;
    animation-duration: .3s;
} */

@keyframes fadeIn {
    0% {
        width: 0%;
    }

    100% {
        width: 100%
    }
}


.hirameki {
    opacity: 0;
    position: relative;
}

/* 
.hirameki::after {
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    height: 2px;
    background-color: #44403e;
    transform: translateX(-50%);
    transition: .3s;
} */


/* .hirameki:hover::after {
    width: 100%;
} */


.katachi {
    opacity: 0;
    position: relative;
}


/* .katachi::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0%;
    height: 2px;
    background-color: #44403e;
    transition: .3s;
    transform: translateX(-50%);
}

.katachi:hover::after {
    width: 100%;
} */


.block1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.block2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}


.main {
    margin: 0 3em;
}

.work {
    width: 40vh;
    height: 30vh;
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
}

.work button {
    display: block;
    border: none;
    font-size: 1em;
}

.me .front {
    height: 100%;
    background-color: #E8E4E2;
    border: none;
}

.me .back {
    background-color: #E8E4E2;
    border: none;
    height: min-content;
}

.me img {
    height: 40vh;
    object-fit: contain;
}


.block1 .work {
    margin: 2vh 1vh 0 1vh;
}

.block2 .work {
    margin: 1.5vh 2vh 2vh 2vh;
}


/* カテゴリ */

.web .category::after {
    position: absolute;
    top: 2vh;
    left: 2vh;
    padding: 0.2em;
    content: "WEB";
    text-align: center;
    font-size: 2vh;
    font-weight: 600;
    color: #FBFBFB;
    background-color: #8FCB8D;
    border: solid 3px #8FCB8D;
    border-radius: 1em;
}



.app .category::after {
    position: absolute;
    top: 2vh;
    left: 2vh;
    padding: 0.2em;
    content: "APP";
    text-align: center;
    font-size: 2vh;
    font-weight: 600;
    color: #FBFBFB;
    background-color: #FFCB7E;
    border: solid 3px #FFCB7E;
    border-radius: 1em;
}





.product .category::after {
    position: absolute;
    top: 2vh;
    left: 2vh;
    padding: 0.2em;
    content: "PRODUCT";
    text-align: center;
    font-size: 2vh;
    font-weight: 600;
    color: #FBFBFB;
    background-color: #86C1D1;
    border: solid 3px #86C1D1;
    border-radius: 1em;
}




.other .category::after {
    position: absolute;
    top: 2vh;
    left: 2vh;
    padding: 0.2em;
    content: "OTHER";
    text-align: center;
    font-size: 2vh;
    font-weight: 600;
    color: #FBFBFB;
    background-color: #F095B6;
    border: solid 3px #F095B6;
    border-radius: 1em;
}



/*  */


.back {
    background-color: #FBFBFB;
    border-radius: 1em;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: .8s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front {
    background-color: #FBFBFB;
    border-radius: 1em;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotateY(180deg);
    transition: .8s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}


.main .work:hover .back {
    transform: rotateY(180deg);
}

.main .work:hover .front {
    transform: rotateY(0);
}


.block1 .content1 {
    margin-left: 10vw;
}

.block1 .content2 {
    display: none;
    width: 25vh;
    height: 20vh;
    margin-bottom: 0;
    margin-top: 17vh;
}


.block1 .content3 {
    width: 55vh;
    height: 40vh;
    position: relative;
}

.block1 .content4 {
    display: none;
    width: 25vh;
    height: 20vh;
    margin-bottom: 0;
    margin-top: 17vh;
}

.block1 .content5 {
    margin-right: 10vw;
}

.block2 .content6 {}

.block2 .content7 {
    width: 30vh;
    height: 25vh;
}

.block2 .content8 {
    width: 30vh;
    height: 25vh;
}

.block2 .content9 {}



.hirameki_ex {
    margin: 2em 1em 1em 1em;
}

.sm_only {
    display: none;
}

.inline_footer{
    width: 20rem;
    position: absolute;
    bottom: 0.5rem;
    left: calc(50% - 10rem);
}


@media screen and (max-width: 980px) {
    /* 幅960px以上に適用されるCSS（PC半画面以上用） */

    footer{
        height: 6rem;
        background-image: none;
    }

    .inline_footer{
        bottom: 2rem;
    }

    .menue {
        position: fixed;
        top: 1.5rem;
        right: 1.2em;
        z-index: 4;
    }

    .main_menue {
        display: block;
        text-align: start;
        position: fixed;
        top: 0;
        left: -300px;
        bottom: 0;
        width: 100vw;
        background: #FBFBFB;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        transition: all .5s;
        z-index: 3;
        opacity: 0;
    }

    .main_menue li {
        padding: 0.3em;
    }


    .btn-trigger {
        position: relative;
        width: 30px;
        height: 24px;
        cursor: pointer;
    }

    .btn-trigger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #44403e;
        border-radius: 4px;
    }

    .btn-trigger,
    .btn-trigger span {
        display: inline-block;
        transition: all .5s;
        box-sizing: border-box;
    }

    .btn-trigger span:nth-of-type(1) {
        top: 0;
    }

    .btn-trigger span:nth-of-type(2) {
        top: 11px;
    }

    .btn-trigger span:nth-of-type(3) {
        bottom: 0;
    }

    #btn01.active span:nth-of-type(1) {
        -webkit-transform: translateY(11px) rotate(-45deg);
        transform: translateY(11px) rotate(-45deg);
        background-color: #44403e;
    }

    #btn01.active span:nth-of-type(2) {
        opacity: 0;
    }

    #btn01.active span:nth-of-type(3) {
        -webkit-transform: translateY(-11px) rotate(45deg);
        transform: translateY(-11px) rotate(45deg);
        background-color: #44403e;
    }


    .inline_header {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        font-size: 1em;
        color: #44403e;
    }


    .inline_header span {
        display: inline-block;
    }

    .inline_header button {
        border: none;
        font-size: 1.5em;
        background-color: #E8E4E2;
        color: #44403e;
    }


    .sm_only {
        display: inline-block;
        width: 100%;
        font-size: 1.5em;
        margin-bottom: 2em;

    }

    .sm_only p {
        width: 6em;
        margin: 0 auto;
        background: linear-gradient(transparent 60%, #FBFBFB 10%);
    }

    .main {
        margin: 0;
    }

    .work button {
        font-size: 1em;
    }

    .block1 {
        flex-wrap: wrap;
        align-content: space-around;
    }

    .block2 {
        flex-wrap: wrap;
        align-content: space-around;
    }



    .block1 .work {
        margin: 2vh 1vh 0 1vh;
    }

    .block2 .work {
        margin: 1.5vh 2vh 2vh 2vh;
    }

    .title1 {
        order: 1;
    }

    .title2 {
        order: 3;
        margin-top: 4em
    }

    .block1 .content1 {
        order: 4;
        width: 90vw;
        height: 55vw;
        margin: 1vh 0;
    }

    .block1 .content2 {
        order: 5;
        width: 43vw;
        height: 33vw;
        margin: 1vh 0.5vh 0 0.5vh;
    }


    .block1 .content3 {
        order: 2;
        width: 30vh;
        margin: 1vh 0.5vh 0 0.5vh;
    }

    .block1 .content4 {
        order: 7;
        width: 43vw;
        height: 33vw;
        margin: 1vh 0.5vh 0 0.5vh;
    }

    .block1 .content5 {
        order: 6;
        width: 90vw;
        height: 55vw;
        margin: 1vh 0;
    }

    .block2 .content6 {
        order: 1;
        width: 90vw;
        height: 55vw;
        margin: 1vh 0;
    }

    .block2 .content7 {
        order: 2;
        font-size: 0.8em;
        width: 43vw;
        height: 33vw;
        margin: 1vh 0.5vh 0 0.5vh;
    }

    .block2 .content8 {
        order: 3;
        font-size: 0.8em;
        width: 43vw;
        height: 33vw;
        margin: 1vh 0.5vh 0 0.5vh;
    }

    .block2 .content9 {
        order: 0;
        width: 90vw;
        height: 55vw;
        margin: 1vh 0;
    }

    .product .category::after {
        position: absolute;
        top: 1vh;
        left: 1vh;
        padding: 0.2em;
        content: "PRODUCT";
        text-align: center;
        font-size: 2vh;
        font-weight: 600;
        color: #FBFBFB;
        background-color: #86C1D1;
        border: solid 3px #86C1D1;
        border-radius: 20px;
    }




    .other .category::after {
        position: absolute;
        top: 1vh;
        left: 1vh;
        padding: 0.2em;
        content: "OTHER";
        text-align: center;
        font-size: 2vh;
        font-weight: 600;
        color: #FBFBFB;
        background-color: #F095B6;
        border: solid 3px #F095B6;
        border-radius: 20px;
    }


}