body {
    margin: 16vh 0 0 0;
    text-align: center;
    background-color: #FBFBFB;
    color: #44403e;
    font-family: dnp-shuei-mgothic-std, sans-serif;
    background-color: #E8E4E2;
    -webkit-text-size-adjust: 100%;
}


header {
    height: 15vh;
    width: 100%;
    top: 0;
    background-color: #E8E4E2;
    position: fixed;
    z-index: 5;
}


footer {
    height: 25vh;
    width: 100%;
    background-image: radial-gradient(circle at center 115%, #fbfbfb 4em, rgba(68, 64, 62, 0.294) 1px,#E8E4E2 4em);
    background-size: 5em;
    background-repeat: repeat-x;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

#jump_top {
    width: 4rem;
    height: 4rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 0.5rem;
    font-size: 3rem;
    color: #FBFBFB;
    line-height: 3rem;
    background-color: #44403e;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15));
    -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15));
    -moz-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15));
}

#jump_top img {
    width: 1.5rem;
    height: 3rem;
    margin: 0.5rem;
}

h1 {
    height: calc(15vh - 4vh);
    margin: 3vh auto 1vh;
}

h2 {
    display: inline-block;
    padding: 0 0.5em;
    background: linear-gradient(transparent 60%, #FBFBFB 10%);
}


img {
    margin: 2vh 0;
    object-fit: contain;
    width: 100%;
}

span {
    color: #EC7357;
}

table {
    width: 100%;
    margin: 0 auto;
}

th {
    position: relative;
    font-size: 1.2em;
    font-weight: normal;
}

td {
    padding: 1rem 0;
}


.home {
    position: absolute;
    top: 3vh;
    left: 3vw;
    color: #44403e;
    text-decoration: none;
}

.home::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: #44403e;
    transition: .3s;
    transform: translateX(-50%);
}

.home:hover::after {
    width: 100%;
}


.url,
.git {
    position: relative;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border-radius: 4px;
    color: #FBFBFB;
    background-color: #EC7357;
    text-decoration: none;
}

.git{
    background-color: #575aec;
}

.url::after,
.git::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: #FBFBFB;
    transition: .3s;
    transform: translateX(-50%);
}

.url:hover::after,
.git:hover::after {
    width: 100%;
}



.block1 {
    margin: 0vh 5vw 0 5vw;
}

.tag {
    display: inline-flex;
    position: relative;
    vertical-align: top;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: content-box;
    width: 100%;
    margin: 2vh 0 0 0;
}


.icon {
    width: 10vh;
    margin: 0 1vh;
    position: relative;
}

.icon img{
    margin-bottom: 0;
}


.icon::after {
    width: 140%;
    height: 2em;
    border-radius: 0.5em;
    display: none;
    position: absolute;
    top: 105%;
    left: -20%;
    line-height: 2em;
    background-color: #FBFBFB;
    content: "";
    z-index: 2;
}

.icon:before {
    content: "";
    position: absolute;
    display: none;
    top: calc(105% - 1.5em);
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #FBFBFB;
    z-index: 2;
}

.icon:hover::after,
.icon:hover::before {
    display: block;
}

#html::after {
    content: "html";
}

#css::after {
    content: "css";
}

#js::after {
    content: "javascript";
}

#ai::after {
    content: "llustrator";
}

#xd::after {
    content: "Xd";
}

#fusion::after {
    content: "Fusion360";
}

#python::after {
    content: "Python";
}

#sql::after {
    content: "sqlite";
}

#alexa::after {
    content: "alexa";
}


.tag_content {
    position: relative;
    background-color: #FBFBFB;
    border-radius: 4px;
    color: #44403e;
    padding: 0.5em 1em 0.5em 2.1em;
    margin: 0.5em 0.25em 0 0.25em;
}

.tag_content::after {
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    top: 1.2em;
    left: 1em;
    content: " ";
    background-color: #E8E4E2;
    border: solid 3px #E8E4E2;
    border-radius: 20px;
}

.about {
    display: inline-flex;
    position: relative;
    vertical-align: top;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: content-box;
    width: 100%;
    margin: 0;
    margin: 0;
}


.content {
    margin: 10vh 5vw 5vh 5vw;
}

.content img {
    display: block;
    width: 70vw;
    max-height: 70vh;
    margin: 3em auto;
}

.main {
    font-size: large;
}

/* what's in */

.point {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp {
    margin: 3em auto;
}

.point img {
    width: 35vw;
}

/**/

/* The Chair */

.content .small_img {
    width: 60vh;
}

.table {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 2vh auto;
}


/**/

.min {
    display: none;
}




@media screen and (max-width: 980px) {

    /* 幅960px以上に適用されるCSS（PC半画面以上用） */
    body {
        margin: 17vh 0 0 0;
    }

    header {
        height: 16vh;
    }

    footer {
        height: 15vh;
        background-image: none;
    }
  
    h1 {
        height: calc(16vh - 8vh);
        margin: 7vh auto 1vh;
        font-size: 1.2rem;
    }

    p {
        margin: 2em 0;
    }

    .about {
        margin-bottom: 3vh;
    }

    .content {
        margin: 10vh 1em 5vh 1em;
        font-size: 0.8em;
    }

    .content img{
        width: 100%;
    }

    .block1 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 1vh 3vw 0 3vw;
    }

    .min {
        display: inline;
    }

    #jump_top {
        width: 3rem;
        height: 3rem;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #jump_top img {
        width: 1rem;
        height: 3rem;
        margin: 0;
    }

    /* what's in */

    .point {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .exp {
        margin: 1em auto;
    }

    .point img {
        width: 80vw;
    }

    .second .exp {
        order: 0;
    }

    .second img {
        order: 1;
    }

    /**/

    /* The Chair */

    .content .small_img {
        width:100%
    }
    .table{
        width: 100%;
    }

    table{
        width: 100%;
    }

    .table td {
        padding: 0.7em 0;
    }

    /**/

    /* daily missions */

    .howto img {
        width: 100%;
    }
}